@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap");
:root {
  --background-color: white;
  --main-color: #1F2839;
  --accent-color: #233660;
}

body {
  font-family: "Roboto" monospace sans-serif;
  margin: 35px calc(50% - 400px);
  max-width: 800px;
  letter-spacing: 0.3px;
}

input {
  outline: none;
  border-radius: 0px;
}
input::-webkit-inner-spin-button {
  display: none;
}

.head {
  background-color: var(--main-color);
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid lightgray;
}

.table th {
  font-size: 1.125em;
  padding: 0rem 0.125rem;
}

.table__body td {
  font-size: 0.9rem;
}

.table td {
  padding: 0.1rem 0.05rem 0.1rem 0.05rem;
  border-top: none;
  border-left: 1px solid lightgray;
  border: 1px solid lightgray;
}

.table__col-name {
  width: 25%;
}

.table__col-email {
  width: 32%;
}

.table__col-pass {
  width: 15%;
}

.table__col-age {
  width: 8%;
}

.table__col-options {
  width: 20%;
}

.sort__container {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-between;
  background-color: rgb(236, 236, 236);
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 3px;
}

.buttons__pagination {
  display: flex;
  gap: 15px;
}

.buttons__page-size {
  display: flex;
  gap: 5px;
}

.buttons__browse {
  display: flex;
  gap: 5px;
}

.page-size-input {
  width: 40px;
}

.button {
  cursor: pointer;
  user-select: none;
  padding: 0px 15px;
  font-weight: 600;
  text-align: center;
}

.delete {
  background-color: rgb(231, 125, 146);
}

.edit {
  background-color: rgb(170, 207, 243);
}

.accept {
  background-color: mediumseagreen;
}

.new-player {
  background-color: var(--main-color);
  color: #ffffff;
}

.page-btn {
  background-color: var(--accent-color);
  color: #ffffff;
}

.cancel {
  background-color: rgb(231, 84, 84);
}

.search {
  background-color: var(--accent-color);
  color: #ffffff;
}

.message-close {
  background-color: rgb(255, 169, 169);
}

.editor {
  width: 300px;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 1px 1px 25px var(--main-color);
  left: calc(50% - 150px);
  top: 10%;
}

.message-alert {
  position: fixed;
  top: 20px;
  left: calc(50% - 250px);
  width: 500px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  background-color: #ff7575;
  border: 1px solid rgb(253, 93, 93);
  border-radius: 5px;
  padding: 5px 15px;
  box-shadow: 1px 1px 5px #202020;
}

.search-bar {
  display: flex;
  position: absolute;
  top: 5px;
}